(
    key_map: {
        FPS(Sprint): Some(LShift),
        Build(RotateCounterClockwise): Some(E),
        FPS(Jump): Some(Space),
        Build(RotateClockwise): Some(Q),
        FPS(MoveBackward): Some(S),
        FPS(MoveForward): Some(W),
        FPS(Crouch): Some(LControl),
        FPS(MoveRight): Some(D),
        Build(LevelUp): Some(R),
        Build(LevelDown): Some(F),
        FPS(MoveLeft): Some(A),
        FPS(Interact): Some(E),
    },
)