(
    key_map: {
        Piloting(BackToSeat): Some(Z),
        Piloting(MoveForward): Some(LShift),
        Piloting(TurnRight): Some(D),
        Piloting(MoveBackward): Some(LControl),
        Build(RotateClockwise): Some(E),
        FPS(Interact): Some(E),
        Piloting(RollRight): Some(E),
        Piloting(RollLeft): Some(Q),
        Build(MoveLeft): Some(A),
        Build(RotateCounterClockwise): Some(Q),
        Piloting(TurnUp): Some(W),
        Build(LevelUp): Some(R),
        FPS(MoveBackward): Some(S),
        FPS(Crouch): Some(LControl),
        FPS(MoveForward): Some(W),
        Piloting(TurnDown): Some(S),
        Build(MoveBackward): Some(S),
        FPS(Jump): Some(Space),
        FPS(MoveRight): Some(D),
        Build(MoveRight): Some(D),
        Build(MoveForward): Some(W),
        Piloting(TurnLeft): Some(A),
        FPS(Sprint): Some(LShift),
        FPS(MoveLeft): Some(A),
        Build(LevelDown): Some(F),
        Piloting(GoToNextCamera): Some(X),
    },
)