(
    key_map: {
        Piloting(TurnLeft): None,
        Build(MoveBackward): None,
        Build(MoveLeft): None,
        Piloting(TurnRight): None,
        Piloting(GoToNextCamera): None,
        FPS(MoveRight): Some(D),
        FPS(Jump): Some(Space),
        FPS(MoveLeft): Some(A),
        FPS(Sprint): None,
        Build(MoveRight): None,
        Piloting(MoveForward): None,
        Build(MoveForward): None,
        Piloting(BackToSeat): None,
        FPS(MoveForward): Some(W),
        FPS(Dash): None,
        Build(LevelUp): None,
        Build(LevelDown): None,
        Build(RotateClockwise): None,
        Build(RotateCounterClockwise): None,
        FPS(MoveBackward): Some(S),
        Piloting(RollRight): None,
        FPS(Interact): None,
        FPS(Crouch): None,
        Piloting(RollLeft): None,
        Piloting(TurnUp): None,
        Piloting(MoveBackward): None,
        Piloting(TurnDown): None,
    },
)