(
    name : "Pilot seat",
    schematics : {
        "bevy_proto::custom::SceneBundle" : (
            scene : AssetPath("ship/tiles/pilot_seat.glb#Scene0")
        ),
        "SpaceSandbox::scenes::asset_editor::BlockConfig" : (
            bbox : (x : 8,y : 1,z : 8),
            origin : (x : 0.0, y :  -1.0, z : -0.00)
        ),
        "SpaceSandbox::objects::pilot_seat::PilotSeat" : (
            
        ),
        "SpaceSandbox::scenes::asset_editor::ron_collider::RonColliderCompound" : (
            colliders : [
                Box((
                    position : (x : 0.0, y : 0.1, z : 0.0),
                    rotation : (x : 0.0, y : 0.0, z : 0.0),
                    size : (x : 1.0, y : 0.125, z : 1.0),
                )),
                Box((
                    position : (x : 0.0, y : 0.5, z : -0.5),
                    rotation : (x : 0.0, y : 0.0, z : 0.0),
                    size : (x : 1.0, y : 0.25, z : 0.5),
                ))
            ]
        )
    }
)